* {
	margin: 0;
	padding: 0;
}

.all {
	width: 100%;
}

html {
	font-size: 1em;
	/*设置父元素初始像素*/
}

.clear {
	clear: both;
}


/*客服部分*/

.kefu {
	position: fixed;
	z-index: 200;
	bottom: 0.875rem;
	left: 85%;
}

#kefu1 {
	width: 100px;
}

#kefu2 {
	width: 100px;
	margin-top: 0.25rem;
	display: block;
	border: solid 1px cornflowerblue;
}

.kefu a {
	text-decoration: none;
}

.kefu p {
	width: 100px;
	background-color: white;
	color: cornflowerblue;
	text-align: center;
	font-size: 0.875rem;
	margin-top: 0.25rem;
	border: solid 1px cornflowerblue;
	position: relative;
}

#kefu3 {
	position: absolute;
}


/*导航部分*/

.header {
	width: 100%;
}

#top {
	background: white;
	z-index: 100;
	width: 100%;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	box-sizing: border-box;
}

#head {
	display: none;
}

.sjx {
	width: 0px;
	height: 0px;
	border: 4px solid #666;
	border-left-color: white;
	border-right-color: white;
	border-bottom-color: white;
	display: inline-block;
}


/*banner部分*/

.banner {
	width: 100%;
}

.banner img {
	width: 100%;
}


/*主体部分*/

.main {
	width: 100%;
}


/*内容部分*/

.content {
	width: 90%;
	margin: 40px auto;
}

.title {
	width: 100%;
	text-align: center;
}

.title img {
	max-width: 100%;
}

.title h2 {
	font-size: 1.5rem;
	margin: 20px auto;
}

.contop {
	width: 100%;
	text-align: center;
}

.contop p {
	font-size: 1rem;
	line-height: 30px;
}

.contop img {
	max-width: 100%;
}

.conmid {
	width: 90%;
	margin: 0 auto;
}

.conmid img {
	width: 100%;
}

.conbot {
	width: 100%;
}

.conbot h2 {
	text-align: center;
	margin-bottom: 20px;
}

.conbot>div>span {
	width: 200px;
	font-weight: bolder;
	display: inline-block;
	text-align: left;
}

.conbot>div>input {
	width: 82%;
	height: 36px;
	border-radius: 5px;
	border: solid 2px gainsboro;
	color: gainsboro;
	padding-left: 10px;
}

#txtp {
	float: left;
}

.txta textarea {
	display: inline-block;
	float: left;
	width: 83%;
	height: 60px;
	border-radius: 5px;
	border: solid 2px gainsboro;
	color: gainsboro;
	/*resize: none;*/
}

.sure {
	margin: 14px auto;
	margin-left: 200px;
}

.sure a {
	text-decoration: none;
	font-weight: bolder;
	color: white;
	border-radius: 5px;
	padding: 15px 20px;
	background: #5cb85c;
}

.sure a:hover {
	background: gainsboro;
}


/*footer部分*/

.footer {
	width: 100%;
	background: #333333;
	color: white;
	line-height: 24px;
	font-family: "微软雅黑";
}

.footerlogo img {
	max-width: 100%;
}

.footerlian ul li {
	line-height: 30px;
	list-style: none;
}

.footerlian ul li a {
	text-decoration: none;
	color: white;
}

@media only screen and (min-width: 768px) {
	/*导航部分*/
	.logo {
		margin: 3px auto;
		width: 16%;
		float: left;
	}
	.logo img {
		width: 100%;
	}
	.navlist {
		width: 82%;
		line-height: 50px;
		float: right;
	}
	.navlist ul {
		list-style: none;
	}
	.navlist ul li {
		display: inline-block;
		position: relative;
		text-align: center;
		padding: 0px 10px;
	}
	#sub1 {
		position: absolute;
		left: 0;
		width: 100%;
		list-style: none;
		display: none;
	}
	#sub1 li {
		border-bottom: solid 1px grey;
		background: white;
	}
	#sub1 li:hover {
		background: #bce6fa;
	}
	.navlist ul li:hover #sub1 {
		display: block;
	}
	.navlist ul li a {
		color: #666;
		display: inline-block;
		text-decoration: none;
		font-size: 1em;
	}
	.navone {
		float: left;
	}
	.navtwo {
		float: right;
	}
	/*footer部分*/
	.footerlogo {
		width: 35%;
		margin: 30px 50px;
		float: left;
	}
	.footerlian {
		margin-top: 30px;
		width: 45%;
		float: right;
	}
	.footerlian ul {
		display: inline-block;
		margin-left: 35px;
	}
}


/*小于768px的导航样式*/

@media only screen and (min-width: 100px) and (max-width: 768px) {
	/*客服部分修改*/
	.kefu {
		left: 60%;
	}
	/*导航部分修改*/
	#top {
		padding: 0;
	}
	#head {
		width: 100%;
		display: block;
		height: 50px;
		line-height: 50px;
		border-bottom: solid 2px #ccc;
	}
	.navlogo {
		float: left;
		width: 60%;
		height: 50px;
	}
	.navlogo img {
		display: inline-block;
		max-width: 100%;
	}
	.navbar {
		width: 50px;
		float: right;
		margin-top: 5px;
	}
	.navbar span {
		display: block;
		width: 20px;
		height: 6px;
		border-bottom: solid 1px black;
	}
	.logo {
		display: none;
	}
	.navlist {
		line-height: 30px;
		width: 100%;
		display: none;
		text-align: left;
	}
	.navlist ul {
		list-style: none;
	}
	.navlist ul li {
		display: block;
		position: relative;
		text-align: center;
		border-bottom: solid 1px #ccc;
	}
	.navlist ul li a {
		color: #666;
		text-decoration: none;
		font-size: 1rem;
	}
	.navlist ul li:hover {
		background: #93d2f1;
	}
	#sub1 {
		width: 100%;
		display: none;
	}
	#sub1 li {
		background: white;
		border: none;
	}
	#sub1 li:hover {
		background: #bce6fa;
	}
	.navlist ul li:hover #sub1 {
		display: block;
	}
	/*footer部分修改*/
	.footerlogo {
		width: 100%;
	}
	#footerlian {
		width: 100%;
	}
}


/*改变表单*/

@media only screen and (max-width: 1300px) {
	.conbot>div>input {
		width: 95%;
	}
	.txta textarea {
		width: 95%;
	}
	.sure {
		margin-left: 0;
	}
}